{% extends 'layout.html' %}
{% block body_block %}
	<form action='' method='POST'>
		{{ form.hidden_tag() }}
  <div class="form-group">

		{{ form.title.label }}
		{{ form.title(class='form-control') }}
		{% for error in form.title.errors %}
		<div style='color:red'>
			{{ error }}
		</div>
		{% endfor %}
  </div>
  <div class="form-group">

		{{ form.content.label }}
		{{ form.content(class='form-control') }}
		{% for error in form.content.errors %}
		<div style='color:red'>
			{{ error }}
		</div>
		{% endfor %}
  </div>
  {{ form.submit(class='btn btn-primary') }}
	</form>
{% endblock body_block %}