{% extends 'layout.html' %}
{% block body_block %}

	<h1> this is run from the home html
		{% with messages = get_flashed_messages(with_categories=false) %}
			{% if messages %}
				{% for message in messages %}
					<h1>{{message}}</h1>
				{% endfor %}
			{% endif %}
		{% endwith %}
	{% for post in posts %}
		<div class='jumbotron'>
		<h1>
			{{ post.title }}
		</h1>
		<p>
			{{ post.content }}
		</p>
	</div>
	{% endfor %}

{% endblock %}