{% extends 'layout.html' %}
{% block body_block %}

<h1> Welcome to SmartProgramming blog </h1>
<form action="" method="POST">
	{{ reg_form.hidden_tag() }}
  <div class="form-group">

		{{ reg_form.username.label }}
		{{ reg_form.username(class='form-control') }}
		{% for error in reg_form.username.errors %}
		<div style='color:red'>
			{{ error }}
		</div>
		{% endfor %}
  </div>
  <div class="form-group">
		{{ reg_form.email.label }}
		{{ reg_form.email(class='form-control') }}

		{% for error in reg_form.email.errors %}
		<div style='color:red'>
			{{ error }}
		</div>
		{% endfor %}
  </div>
  <div class="form-group">

		{{ reg_form.password.label }}
		{{ reg_form.password(class='form-control') }}

		{% for error in reg_form.password.errors %}
		<div style='color:red'>
			{{ error }}
		</div>
		{% endfor %}
  </div>
  <div class="form-group">

		{{ reg_form.confirm_password.label }}
		{{ reg_form.confirm_password(class='form-control') }}

		{% for error in reg_form.confirm_password.errors %}
		<div style='color:red'>
			{{ error }}
		</div>
		{% endfor %}
  </div>

		<div>
		{{ reg_form.submit(class='btn btn-primary') }}
		</div>
</form>
{% endblock %}