{% extends 'layout.html' %}

{% block body_block %}
	{% with message = get_flashed_messages(with_categories=False) %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	{% endwith %}
	<FORM action='' method='POST' >
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.email.label }}
			{{ form.email(class='form-control') }}
			{% if form.email.errors %}
				{% for error in form.email.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.password.label }}
			{{ form.password(class='form-control') }}
			
			{% if form.password.errors %}
				{% for error in form.password.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</div>
		</div>
		<div>
			{{ form.submit(class='btn btn-primary') }}
		</div>
	</FORM>
{% endblock %} 